@page "/studentpage"

<h2>Daftar Student</h2>

<a href="/addstudent">Create New</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>NIM</th>
            <th>Studen Name</th>
            <th>Tanggal Masuk</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var std in Students){
            <tr>
                <td>@std.studentId</td>
                <td>@std.firstName @std.lastName</td>
                <td>@std.enrollmentDate</td>
                <td>
                    <a class="btn btn-info" href="@($"studentdetail/{std.studentId}")">Details</a>
                    <a class="btn btn-primary" href="@($"enrollpage/{std.studentId}")">Enroll</a>
                    <a class="btn btn-warning" href="@($"studentedit/{std.studentId}")">Edit</a>
                    <a class="btn btn-danger" href="@($"deletestudent/{std.studentId}")">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>